section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 900px;
    height: 700px;
    background-color: #E3516E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cunt {
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div1 {
    width: 230px;
    height: 230px;
    background-color: #51B5A9;
    border-radius: 100% 0 0 0;
}

.div2 {
    width: 230px;
    height: 230px;
    background-color: #FADE8B;
    border-radius: 0 100% 0 0;
}

.div3 {
    width: 230px;
    height: 230px;
    background-color: #F7F3D7;
    border-radius: 0 0 0 100%;
}

.div4 {
    width: 230px;
    height: 230px;
    background-color: #E3516E;
    border-radius: 0 0 100% 0;
}